body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    padding: 20px;
}

.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

h1 {
    color: #333;
    text-align: center;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
}
